<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Jupiter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RecommendationItem</servlet-name>
    <servlet-class>rpc.RecommendationItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemHistory</servlet-name>
    <servlet-class>rpc.ItemHistory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchItem</servlet-name>
    <servlet-class>rpc.SearchItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>rpc.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendationItem</servlet-name>
    <url-pattern>/recommendation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemHistory</servlet-name>
    <url-pattern>/ItemHistory</url-pattern>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchItem</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>rpc.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>